
        .login-0 {
            width: auto;
		
        }
        

        .login-1 {
            width: 100%;
		 height: 790px;
		 background-color: rgb(255, 192, 163);
		 position: relative;
		 min-width: 120px;
		 min-height: 90px;
		
        }
        

        .login-2 {
            height: auto;
		 width: 100%;
		 outline: none;
		 border-width: 0px;
		 position: relative;
		 background: rgb(255, 255, 255);
		
        }
        

        .login-3 {
            border-width: 0px;
		 position: relative;
		 height: 100px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 padding-top: 0px;
		 padding-left: 50px;
		
        }
        

        .login-4 {
            max-width: 1920px;
		 max-height: 1200px;
		 width: 180px;
		 height: 90px;
		 min-height: 16px;
		 display: inline-block;
		
        }
        

        .login-5 {
            width: 100%;
		height:100%
        }
        

        .login-6 {
            height: 33.9881px;
		 border-width: 0px;
		
        }
        

        .login-7 {
            height: auto;
		 width: 98%;
		 outline: none;
		 border-width: 0px;
		 position: relative;
		 margin-left: 15px;
		 margin-right: 10px;
		 background-repeat: repeat;
		 background-size: 100% 100%;
		 background-image: url('../images/img/69473539f1cae527527cfdcbd00f1630.png');
		 margin-top: 5px;
		 min-height: 0px;
		
        }
        

        .login-8 {
            border-width: 0px;
		 height: 500px;
		 min-height: 649.985px;
		
        }
        

        .login-9 {
            height: auto;
		 border-width: 0px;
		 position: relative;
		 min-height: 0px;
		 border-radius: 0px;
		 padding-left: 80px;
		 padding-right: 120px;
		
        }
        

        .login-10 {
            min-height: 0px;
		 height: 200px;
		 border-width: 0px;
		 padding: 10px;
		 margin-top: 0px;
		
        }
        

        .login-11 {
            min-height: 0px;
		 height: 270px;
		 padding: 10px;
		 border-width: 0px;
		 border-radius: 20px;
		 background: rgba(255, 255, 255, 0.9);
		 position: relative;
		 width: 100%;
		
        }
        

        .login-12 {
            height: auto;
		 width: 100%;
		 outline: none;
		 border-width: 0px;
		 position: relative;
		
        }
        

        .login-13 {
            border-width: 0px;
		 position: relative;
		
        }
        

        .login-14 {
            text-overflow: ellipsis;
		 line-height: 34px;
		 text-align: center;
		 font-family: 微软雅黑;
		 font-size: 24px;
		 font-weight: 700;
		 color: rgb(250, 194, 196);
		
        }
        

        .login-15 {
            height: auto;
		 width: 100%;
		 outline: none;
		 border-width: 0px;
		 position: relative;
		 padding-right: 0px;
		
        }
        

        .login-16 {
            border-width: 0px;
		 width: 10%;
		
        }
        

        .login-17 {
            border-width: 0px;
		 position: relative;
		 width: 15%;
		 padding-top: 10px;
		
        }
        

        .login-18 {
            text-overflow: ellipsis;
		 line-height: 34px;
		 text-align: right;
		 color: rgb(246, 126, 82);
		
        }
        

        .login-19 {
            position: relative;
		 border-width: 0px;
		 width: 50%;
		 padding-top: 10px;
		
        }
        

        .login-20 {
            width: 100%;
		
        }
        

        .login-21 {
            border-width: 0px;
		 width: 20%;
		 padding-top: 0px;
		 margin-top: 10px;
		
        }
        

        .login-22 {
            border-width: 0px;
		 width: 10%;
		 margin-top: 10px;
		
        }
        

        .login-23 {
            border-width: 0px;
		 position: relative;
		 width: 15%;
		 margin-top: 10px;
		
        }
        

        .login-24 {
            position: relative;
		 border-width: 0px;
		 width: 50%;
		 margin-top: 10px;
		 background-color: rgb(0, 0, 0);
		
        }
        

        .login-25 {
            border-width: 0px;
		 width: 20%;
		 margin-top: 10px;
		
        }
        

        .login-26 {
            min-height: 55.8929px;
		 border-width: 0px;
		 width: 25%;
		
        }
        

        .login-27 {
            border-width: 0px;
		 padding-top: 20px;
		 position: relative;
		 min-height: 55.8929px;
		 padding-right: 10px;
		 justify-content: center;
		 width: 25%;
		
        }
        

        .login-28 {
            left: 0px;
		 top: 20px;
		
        }
        

        .login-29 {
            padding: 6px 12px;
		 background-color: rgb(247, 203, 175);
		 font-size: 16px;
		 color: rgb(250, 58, 0);
		
        }
        

        .login-30 {
            min-width: 10px;
		
        }
        

        .login-31 {
            min-height: 55.8929px;
		 border-width: 0px;
		 width: 25%;
		 position: relative;
		 padding-top: 20px;
		
        }
        

        .login-32 {
            left: 10px;
		 top: 20px;
		
        }
        

        .login-33 {
            min-width:10px;
		
        }
        

        .login-34 {
            min-height: 55.8929px;
		 position: relative;
		 border-width: 0px;
		 padding-top: 20px;
		 width: 20%;
		
        }
        

        .login-35 {
            height: auto;
		 width: 100%;
		 outline: none;
		 border-width: 0px;
		 margin-top: 40px;
		 position: relative;
		
        }
        

        .login-36 {
            position: relative;
		 border-width: 0px;
		
        }
        

        .login-37 {
            text-overflow: ellipsis;
		 line-height: 34px;
		 font-size: 8px;
		 color: rgb(177, 177, 177);
		
        }
        

        .login-38 {
            height: 33.9881px;
		 border-width: 0px;
		 position: relative;
		
        }
        

        .login-39 {
            text-overflow: ellipsis;
		 line-height: 34px;
		 text-align: right;
		 font-size: 8px;
		 color: rgb(177, 177, 177);
		
        }
        

        .login-40 {
            height: auto;
		 width: 100%;
		 outline: none;
		 border-width: 0px;
		 position: relative;
		 flex-direction: row;
		 justify-content: center;
		
        }
        

        .login-41 {
            border-width: 0px;
		 width: 38%;
		 height: auto;
		
        }
        

        .login-42 {
            border-width: 0px;
		 position: relative;
		 width: auto;
		 height: auto;
		
        }
        

        .login-43 {
            text-overflow: ellipsis;
		 line-height: 34px;
		
        }
        

        .login-44 {
            border-width: 0px;
		 width: 10px;
		 height: auto;
		
        }
        

        .login-45 {
            text-overflow: ellipsis;
		line-height:34px
        }
        

        .login-46 {
            border-width: 0px;
		 width: 20%;
		
        }
        

        .login-47 {
            height: 33.9881px;
		 border-width: 0px;
		 width: 60%;
		 position: relative;
		
        }
        

        .login-48 {
            text-overflow: ellipsis;
		 line-height: 34px;
		 text-align: center;
		 width: 100%;
		
        }
        

        .login-49 {
            font-size: 8px;
		
        }
        

        .login-50 {
            height: 33.9881px;
		 border-width: 0px;
		 width: 20%;
		
        }
        