
        .personalinfo-0 {
            width: auto;
		
        }
        

        .personalinfo-1 {
            width: 100%;
		 height: 100%;
		 position: relative;
		 background-color: rgba(0, 0, 0, 0);
		 min-width: 120px;
		 min-height: 90px;
		
        }
        

        .personalinfo-2 {
            position: relative;
		 min-height: 0px;
		
        }
        

        .personalinfo-3 {
            min-height: 0px;
		 height: 180px;
		 padding: 0px 0px 50px;
		 border-width: 0px;
		 background-repeat: repeat;
		 background-size: 100% 100%;
		 background-image: url('../images/img/f6435d370295d412535de18ac6551770.png');
		 position: relative;
		 width: 100%;
		
        }
        

        .personalinfo-4 {
            height: auto;
		 width: 100%;
		 outline: none;
		 border-width: 0px;
		 position: relative;
		 background-image: initial;
		 background-position: initial;
		 background-size: initial;
		 background-repeat: initial;
		 background-attachment: initial;
		 background-origin: initial;
		 background-clip: initial;
		
        }
        

        .personalinfo-5 {
            border-width: 0px;
		
        }
        

        .personalinfo-6 {
            border-width: 0px;
		 position: relative;
		
        }
        

        .personalinfo-7 {
            width: 100%;
		 outline: none;
		 border-width: 0px;
		 position: relative;
		
        }
        

        .personalinfo-8 {
            border-width: 0px;
		 width: 23px;
		
        }
        

        .personalinfo-9 {
            border-width: 0px;
		 position: relative;
		 width: 68px;
		
        }
        

        .personalinfo-10 {
            left: 21px;
		 top: 0px;
		
        }
        

        .personalinfo-11 {
            text-overflow: ellipsis;
		 line-height: 34px;
		 font-family: 微软雅黑;
		
        }
        

        .personalinfo-12 {
            text-overflow: ellipsis;
		line-height:34px
        }
        

        .personalinfo-13 {
            left: 0px;
		 top: 0px;
		
        }
        

        .personalinfo-14 {
            text-overflow: ellipsis;
		 line-height: 34px;
		
        }
        

        .personalinfo-15 {
            height: 114px;
		 width: 100%;
		 border-width: 0px;
		 position: relative;
		
        }
        

        .personalinfo-16 {
            border-width: 0px;
		 position: relative;
		 height: 110px;
		 padding-top: 10px;
		
        }
        

        .personalinfo-17 {
            max-width: 1920px;
		 max-height: 1200px;
		 width: 120px;
		 height: 60px;
		 min-height: 16px;
		 display: inline-block;
		
        }
        

        .personalinfo-18 {
            width: 100%;
		height:100%
        }
        

        .personalinfo-19 {
            height: 114px;
		 border-width: 0px;
		
        }
        

        .personalinfo-20 {
            height: 33.9881px;
		 border-width: 0px;
		
        }
        

        .personalinfo-21 {
            height: 33.9881px;
		
        }
        

        .personalinfo-22 {
            top: 134px;
		 left: 950.238px;
		 z-index: 11;
		 position: relative;
		
        }
        

        .personalinfo-23 {
            height: auto;
		 width: 100%;
		 outline: none;
		 border-width: 0px;
		 position: relative;
		
        }
        

        .personalinfo-24 {
            height: 5px;
		 border-width: 0px;
		 width: 330px;
		
        }
        

        .personalinfo-25 {
            height: 33.9881px;
		 position: relative;
		 border-width: 0px;
		 background-color: rgba(0, 0, 0, 0);
		 text-align: left;
		 width: 255px;
		 background-repeat: repeat;
		 background-size: 100% 100%;
		 background-image: url('/ecp/xdeer/workspaces/enterprise/85371094acbef8cb38df27183849c2ed/85371094acbef8cb38df27183849c2ed/img/db82f45e-0668-4b75-aae9-2535fcd9ba01/ea85c2df017eafb8c60237d708ef1546.png?cb498e88-3043-4626-86d5-db040999a2d3');
		
        }
        

        .personalinfo-26 {
            width: 100%;
		
        }
        

        .personalinfo-27 {
            background-color: transparent;
		
        }
        

        .personalinfo-28 {
            min-width: 5px;
		 line-height: 34px;
		 text-align: center;
		 width: 34px;
		 display: inline-block;
		
        }
        

        .personalinfo-29 {
            height: auto;
		 width: 100%;
		 outline: none;
		 border-width: 0px;
		 position: relative;
		 background: rgb(252, 108, 124);
		
        }
        

        .personalinfo-30 {
            height: 33.9881px;
		 border-width: 0px;
		 position: relative;
		
        }
        

        .personalinfo-31 {
            text-overflow: ellipsis;
		 line-height: 34px;
		 font-size: 16px;
		 color: rgb(255, 255, 255);
		 font-weight: 700;
		
        }
        

        .personalinfo-32 {
            position: relative;
		 min-height: 0px;
		 border-width: 0px;
		
        }
        

        .personalinfo-33 {
            min-height: 0px;
		 height: auto;
		 padding: 0px;
		 border-width: 0px;
		 background: rgb(255, 192, 163);
		 position: relative;
		
        }
        

        .personalinfo-34 {
            height: auto;
		 width: 100%;
		 outline: none;
		 border-width: 0px;
		 position: relative;
		 min-height: 0px;
		 background: rgb(255, 192, 163);
		
        }
        

        .personalinfo-35 {
            border-width: 0px;
		 width: 10%;
		 height: 600px;
		 min-height: 600px;
		 position: relative;
		
        }
        

        .personalinfo-36 {
            border-width: 0px;
		 width: 80%;
		 position: relative;
		 min-height: 0px;
		
        }
        

        .personalinfo-37 {
            height: auto;
		 width: 100%;
		 border-width: 0px;
		 background: rgb(255, 255, 255);
		 position: relative;
		 min-height: 0px;
		
        }
        

        .personalinfo-38 {
            border-width: 0px;
		 width: 100%;
		 height: auto;
		 position: relative;
		 min-height: 0px;
		
        }
        

        .personalinfo-39 {
            overflow: auto;
		 height: 405px;
		
        }
        

        .personalinfo-40 {
            min-height: 0px;
		 height: 500px;
		 border-width: 0px;
		 padding: 10px;
		 width: 450px;
		 margin-left: 30px;
		
        }
        

        .personalinfo-41 {
            border-width: 0px;
		 width: 10%;
		 height: 600px;
		 min-height: 600px;
		
        }
        

        .personalinfo-42 {
            height: auto;
		 width: 100%;
		 outline: none;
		 border-width: 0px;
		 position: relative;
		 flex-direction: row;
		 justify-content: center;
		
        }
        

        .personalinfo-43 {
            border-width: 0px;
		 width: 38%;
		 height: auto;
		
        }
        

        .personalinfo-44 {
            border-width: 0px;
		 position: relative;
		 width: auto;
		 height: auto;
		
        }
        

        .personalinfo-45 {
            border-width: 0px;
		 width: 10px;
		 height: auto;
		
        }
        

        .personalinfo-46 {
            height: auto;
		 width: 100%;
		 outline: none;
		 border-width: 0px;
		 position: relative;
		 background: rgb(255, 255, 255);
		
        }
        

        .personalinfo-47 {
            border-width: 0px;
		 width: 20%;
		
        }
        

        .personalinfo-48 {
            height: 33.9881px;
		 border-width: 0px;
		 width: 60%;
		 position: relative;
		
        }
        

        .personalinfo-49 {
            text-overflow: ellipsis;
		 line-height: 34px;
		 text-align: center;
		 width: 100%;
		
        }
        

        .personalinfo-50 {
            font-size: 8px;
		
        }
        

        .personalinfo-51 {
            height: 33.9881px;
		 border-width: 0px;
		 width: 20%;
		
        }
        