




        .home-0 {
            width: auto;
		
        }
        

        .home-1 {
            width: 100%;
		 height: 100%;
		 position: relative;
		 background-color: rgba(0, 0, 0, 0);
		 min-width: 120px;
		 min-height: 90px;
		
        }
        

        .home-2 {
            position: relative;
		 min-height: 0px;
		
        }
        

        .home-3 {
            min-height: 0px;
		 height: 180px;
		 padding: 0px 0px 50px;
		 border-width: 0px;
		 background-repeat: repeat;
		 background-size: 100% 100%;
		 background-image: url('../images/img/f6435d370295d412535de18ac6551770.png');
		 position: relative;
		 width: 100%;
		
        }
        

        .home-4 {
            height: auto;
		 width: 100%;
		 outline: none;
		 border-width: 0px;
		 position: relative;
		 background-image: initial;
		 background-position: initial;
		 background-size: initial;
		 background-repeat: initial;
		 background-attachment: initial;
		 background-origin: initial;
		 background-clip: initial;
		
        }
        

        .home-5 {
            border-width: 0px;
		
        }
        

        .home-6 {
            border-width: 0px;
		 position: relative;
		
        }
        

        .home-7 {
            width: 100%;
		 outline: none;
		 border-width: 0px;
		 position: relative;
		
        }
        

        .home-8 {
            border-width: 0px;
		 width: 23px;
		
        }
        

        .home-9 {
            border-width: 0px;
		 position: relative;
		 width: 68px;
		
        }
        

        .home-10 {
            left: 21px;
		 top: 0px;
		
        }
        

        .home-11 {
            text-overflow: ellipsis;
		 line-height: 34px;
		 font-family: 微软雅黑;
		
        }
        

        .home-12 {
            text-overflow: ellipsis;
		line-height:34px
        }
        

        .home-13 {
            left: 0px;
		 top: 0px;
		
        }
        

        .home-14 {
            text-overflow: ellipsis;
		 line-height: 34px;
		
        }
        

        .home-15 {
            height: 114px;
		 width: 100%;
		 border-width: 0px;
		 position: relative;
		
        }
        

        .home-16 {
            border-width: 0px;
		 position: relative;
		 height: 110px;
		 padding-top: 10px;
		
        }
        

        .home-17 {
            max-width: 1920px;
		 max-height: 1200px;
		 width: 120px;
		 height: 60px;
		 min-height: 16px;
		 display: inline-block;
		
        }
        

        .home-18 {
            width: 100%;
		height:100%
        }
        

        .home-19 {
            height: 114px;
		 border-width: 0px;
		
        }
        

        .home-20 {
            height: 33.9881px;
		 border-width: 0px;
		
        }
        

        .home-21 {
            height: 33.9881px;
		
        }
        

        .home-22 {
            top: 134px;
		 left: 950.238px;
		 z-index: 11;
		 position: relative;
		
        }
        

        .home-23 {
            height: auto;
		 width: 100%;
		 outline: none;
		 border-width: 0px;
		 position: relative;
		
        }
        

        .home-24 {
            height: 5px;
		 border-width: 0px;
		 width: 330px;
		
        }
        

        .home-25 {
            height: 33.9881px;
		 position: relative;
		 border-width: 0px;
		 background-color: rgba(0, 0, 0, 0);
		 text-align: left;
		 width: 255px;
		 background-repeat: repeat;
		 background-size: 100% 100%;
		 background-image: url('/ecp/xdeer/workspaces/enterprise/85371094acbef8cb38df27183849c2ed/85371094acbef8cb38df27183849c2ed/img/db82f45e-0668-4b75-aae9-2535fcd9ba01/ea85c2df017eafb8c60237d708ef1546.png?cb498e88-3043-4626-86d5-db040999a2d3');
		
        }
        

        .home-26 {
            width: 100%;
		
        }
        

        .home-27 {
            background-color: transparent;
		
        }
        

        .home-28 {
            min-width:5px;
		line-height:34px;
		text-align: center;
		width:34px;
		display: inline-block;
		
        }
        

        .home-29 {
            height: auto;
		 width: 100%;
		 outline: none;
		 border-width: 0px;
		 position: relative;
		 background: rgb(252, 108, 124);
		
        }
        

        .home-30 {
            height: 33.9881px;
		 border-width: 0px;
		 position: relative;
		
        }
        

        .home-31 {
            text-overflow: ellipsis;
		 line-height: 34px;
		 font-size: 16px;
		 color: rgb(255, 255, 255);
		 font-weight: 700;
		
        }
        

        .home-32 {
            position: relative;
		 min-height: 0px;
		 border-width: 0px;
		
        }
        

        .home-33 {
            min-height: 0px;
		 height: auto;
		 padding: 0px;
		 border-width: 0px;
		 background: rgb(246, 211, 174);
		 position: relative;
		
        }
        

        .home-34 {
            height: auto;
		 width: 100%;
		 outline: none;
		 border-width: 0px;
		 position: relative;
		 min-height: 0px;
		 background: rgb(246, 211, 174);
		
        }
        

        .home-35 {
            border-width: 0px;
		 width: 10%;
		 height: 600px;
		 min-height: 600px;
		 position: relative;
		
        }
        

        .home-36 {
            border-width: 0px;
		 width: 80%;
		 position: relative;
		 min-height: 0px;
		
        }
        

        .home-37 {
            height: auto;
		 width: 100%;
		 border-width: 0px;
		 background: rgb(255, 255, 255);
		 position: relative;
		 min-height: 0px;
		
        }
        

        .home-38 {
            border-width: 0px;
		 width: 100%;
		 height: auto;
		 position: relative;
		 min-height: 0px;
		
        }
        

        .home-39 {
            height: auto;
		 width: 100%;
		 border-width: 0px;
		 position: relative;
		 margin-left: 10px;
		 margin-bottom: 10px;
		
        }
        

        .home-40 {
            border-width: 0px;
		 height: 300px;
		 border-radius: 30px;
		 margin-top: 20px;
		 margin-bottom: 10px;
		 border-bottom-style: solid;
		 position: relative;
		
        }
        

        .home-41 {
            max-width: 1920px;
		 max-height: 1200px;
		 width: auto;
		 height: 300px;
		 min-height: 16px;
		 display: inline-block;
		
        }
        

        .home-42 {
            width: 100%;
		 height: 100%;
		
        }
        

        .home-43 {
            border-width: 0px;
		 height: 300px;
		 margin-top: 20px;
		 border-top-style: dotted;
		 border-bottom-style: solid;
		 position: relative;
		 min-height: 300px;
		 padding-top: 0px;
		 padding-left: 10px;
		 margin-bottom: 10px;
		
        }
        

        .home-44 {
            text-overflow: ellipsis;
		 line-height: 34px;
		 font-weight: 700;
		
        }
        

        .home-45 {
            border-width: 0px;
		 height: 300px;
		 margin-top: 20px;
		 border-bottom-style: solid;
		 min-height: 300px;
		 margin-bottom: 10px;
		 position: relative;
		
        }
        

        .home-46 {
            text-overflow: ellipsis;
		 line-height: 34px;
		 font-weight: 700;
		 text-align: center;
		
        }
        

        .home-47 {
            border-width: 0px;
		 height: 200px;
		 width: 0px;
		 min-height: 300px;
		
        }
        

        .home-48 {
            border-width: 0px;
		 height: 300px;
		 position: relative;
		 min-height: 300px;
		 margin-bottom: 10px;
		
        }
        

        .home-49 {
            max-width: 1920px;
		 max-height: 1200px;
		 height: 300px;
		 min-height: 16px;
		 display: inline-block;
		 width: auto;
		
        }
        

        .home-50 {
            border-width: 0px;
		 min-height: 300px;
		 margin-bottom: 10px;
		 position: relative;
		 padding-left: 10px;
		
        }
        

        .home-51 {
            min-height: 300px;
		 border-width: 0px;
		 margin-bottom: 10px;
		 width: 0px;
		
        }
        

        .home-52 {
            border-width: 0px;
		 min-height: 300px;
		 margin-bottom: 10px;
		 position: relative;
		
        }
        

        .home-53 {
            border-width: 0px;
		 position: relative;
		 height: 300px;
		 min-height: 300px;
		
        }
        

        .home-54 {
            border-width: 0px;
		 min-height: 300px;
		 position: relative;
		 padding-left: 10px;
		
        }
        

        .home-55 {
            border-width: 0px;
		 min-height: 300px;
		 position: relative;
		
        }
        

        .home-56 {
            border-width: 0px;
		 min-height: 300px;
		 width: 0px;
		
        }
        

        .home-57 {
            height: auto;
		 width: 100%;
		 outline: none;
		 border-width: 0px;
		 position: relative;
		 margin-top: 5px;
		
        }
        

        .home-58 {
            border-width: 0px;
		 position: relative;
		 min-height: 34px;
		 text-align: right;
		
        }
        

        .home-59 {
            height: 34px;
		 min-height: 34px;
		 border-width: 0px;
		 position: relative;
		 text-align: center;
		
        }
        

        .home-60 {
            left: 85px;
		 top: 0px;
		
        }
        

        .home-61 {
            padding: 6px 12px;
		 background-color: rgb(247, 203, 175);
		 color: rgb(250, 58, 0);
		
        }
        

        .home-62 {
            height: 34px;
		 min-height: 34px;
		 border-width: 0px;
		
        }
        

        .home-63 {
            border-width: 0px;
		 width: 10%;
		 height: 200px;
		 min-height: 600px;
		
        }
        

        .home-64 {
            height: auto;
		 width: 100%;
		 outline: none;
		 border-width: 0px;
		 position: relative;
		 flex-direction: row;
		 justify-content: center;
		
        }
        

        .home-65 {
            border-width: 0px;
		 width: 38%;
		 height: auto;
		
        }
        

        .home-66 {
            border-width: 0px;
		 position: relative;
		 width: auto;
		 height: auto;
		
        }
        

        .home-67 {
            border-width: 0px;
		 width: 10px;
		 height: auto;
		
        }
        

        .home-68 {
            height: auto;
		 width: 100%;
		 outline: none;
		 border-width: 0px;
		 position: relative;
		 background: rgb(255, 255, 255);
		
        }
        

        .home-69 {
            border-width: 0px;
		 width: 20%;
		
        }
        

        .home-70 {
            height: 33.9881px;
		 border-width: 0px;
		 width: 60%;
		 position: relative;
		
        }
        

        .home-71 {
            text-overflow: ellipsis;
		 line-height: 34px;
		 text-align: center;
		 width: 100%;
		
        }
        

        .home-72 {
            font-size: 8px;
		
        }
        

        .home-73 {
            height: 33.9881px;
		 border-width: 0px;
		 width: 20%;
		
        }
        

        .home-74 {
            display: none;
		 opacity: 0.7;
		 position: absolute;
		 z-index: 199111250;
		 width: 100%;
		 height: 1px;
		 left: 0px;
		 border-top: 1px dotted rgb(255, 113, 0);
		
        }
        

        .home-75 {
            display: none;
		 opacity: 0.7;
		 position: absolute;
		 z-index: 199111250;
		 width: 1px;
		 height: 100%;
		 top: 0px;
		 border-left: 1px dotted rgb(255, 113, 0);
		
        }
        

        .home-76 {
            display: none;
		 position: absolute;
		 color: red;
		 z-index: 199111250;
		 font-size: 12px;
		
        }
        

        .home-77 {
            display: none;
		 opacity: 0.7;
		 position: absolute;
		 z-index: 199111250;
		 height: 1px;
		 left: 0px;
		 border-top: 1px solid rgb(255, 113, 0);
		
        }
        

        .home-78 {
            display: none;
		 opacity: 0.7;
		 position: absolute;
		 z-index: 199111250;
		 width: 1px;
		 top: 0px;
		 border-left: 1px solid rgb(255, 113, 0);
		
        }
        